.premium-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 50px;
}

.premium-section h1{
    font-size: clamp(1.6rem, 4vw, 2.5rem);
    font-weight: 700;
    /* text-align: center; */
}

.offers-container{
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 0;
}

.offers-container .item{
    width: 285px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

}

.item-icon {
    width: clamp(100px, 25vw, 142px);
    height: 142px;
}

.offers-container h5{
    font-size: clamp(16px, 3.5vw, 20px);
    font-weight: bold;
}

.offers-container p {
    font-size: 16px clamp(12px, 3vw, 16px);
    font-weight: 400;
}

@media (max-width: 500px) {
    .offers-container {
        flex-direction: column;
    }

    .offers-container .item {
        width: 230px;
        gap: 15px;
    }
}