.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    width: 100%;
    height: 80px;
    color: white;
    padding: 20px 100px;
}

.logo{
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    gap: 35px;
}

a{
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.active{
    color: #D9DADC;
}

.line{
    border-left: 2px solid #D9DADC;
}