button{
    width:  clamp(140px, 30vw, 162px);
    height: 52px;
    padding: 16px 35px;
    border: none;
    color: var(--color-white);
    background-color: var(--color-black);
    border-radius: 50px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
}