.hero-section{
    width: 100%;
    height: 500px;
    background-color: var(--hero-section-background);
    padding: 50px;
}

.hero-content{
    width: clamp(90%, 90%, 75%);
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 38px;
    color: var(--color-white);
}

h1{
    font-size: clamp(1.6rem, 4vw, 2.5rem);
    font-weight: 700;
}

h5{
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 1.6rem);
}

.hero-cta button{
    margin: 10px;
}

.get-started-btn,
.see-plans-btn{
    width:  clamp(140px, 30vw, 162px);
    height: 52px;
    padding: 16px 35px;
    border: none;
    color: var(--color-white);
    background-color: var(--color-black);
    font-size: clamp(8px, 1.2vw, 13px);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
}

.see-plans-btn{
    width:  clamp(145px, 35vw, 192px);
    height: 52px;
    padding: 16px 30px;
    border: 2px solid var(--color-white);
    background-color: transparent;
    font-size: clamp(8px, 1.2vw, 13px);
}

.terms{
    font-size: 11px;
}

.terms a{
    text-decoration: underline;
    font-weight: 400;
    color: var(--color-white);
}